body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: green;
  text-align: center;
  border: solid yellow 15px;
}

h1 {
  display: block;
  margin: 0 auto;
  font-size: 70px;
  color: goldenrod;
  animation: pop 10s infinite alternate;
}

@keyframes pop {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#message-el {
  color: white;
  font-size: 50px;
  font-style: italic;
}
p {
  color: white;
  font-size: 35px;
}

button {
  color: #016f32;
  width: 150px;
  height: 50px;
  background: goldenrod;
  font-weight: bolder;
  border: none;
  border-radius: 3px;
  transition: ease-in-out 200ms;
}

button:hover {
  cursor: pointer;
  background: rgb(151, 151, 0);
}
